html{
    --Pink-color: #D53767;
    --Noir-anthracite: #333333;
    --Gris-clair: #c1cfda;
    --Bleu: #007682;
    --Bleu-Ciel: #CDF7F6;
    --Blanc: #ffffff;
    --Police: Verdana, Geneva, Tahoma, sans-serif;
}