@use 'src/styles/vars';

.title-team {
  margin-bottom:1em;
  text-align: center;
  font-size:2em;
  margin-left:0.5em;
  font-weight: bold; 
  letter-spacing: 0.2rem;
  font-family: vars.$font;
  color: vars.$mainBlue;

}
.team-page {
  width:60%;
  display:flex;
  flex-direction:column;
  max-width: 100%;
  margin: auto;
  background-color:#FFFFFF;
  padding:50px;
  margin-top:2rem;
  border-radius: vars.$buttonRadius;
  box-shadow: 5px 3px 5px rgb(163, 163, 163);
  margin-bottom:3.5rem;
}

.icon {
  margin-right: 1rem;

}
 
// .team {


//  }

#card-ava {
  position: relative;
  background-color: black;
  border: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: vars.$buttonRadiusResponsive;
  width: 80%;
  width: 80%;
  margin-bottom:10px;
} 

.cards {
   display: flex;
    flex-direction:row; 
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:3.5em;
 }

.card {
  height: 12rem;
  width: 8rem;
  perspective: 10rem; //100
  //position: relative;
  margin:5px;
  
  

  &__side {
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 700ms ease;
    backface-visibility: hidden;
      border-radius:vars.$buttonRadius;
    
    &--front {
      background-color: vars.$mainBlue;
    }
    
    &--back {
      background-color: vars.$mainPink;
      transform: rotateY(180deg);
      text-align:center;

      p {padding:0.2em;}
    }
  }
  
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  
  &:hover &__side--back {
    transform: rotateY(0);
  }
}

.card-div {
  // width: 50vw;
  // height: 25vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
 
}


//SMARTPHONE --------------- SMARTPHONE ---------------  // 
@media screen and (max-width: 500px) {
  .team-page {
    padding-top:200px;
    width:100%;
    margin-top:0em;   
  } 
}
